@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.App {
}

.slick_me {
  width: 100%;
}

.right_margin {
    margin-right: 8%;
}

.box_shadow {
    box-shadow: 10px 10px 10px #000;
}

.bar_top {
  background-color: #454872;
  text-align: right;
  height: 50px;
  position: relative;
}

.bar_item {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 8%;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #454872;
  color: #fff;
  -webkit-transition: background-color .5s;
  -webkit-transition: color .5s;
}

.bar_item:hover {
  background-color: #fff;
  color: #454872;
}

.heavy_text {
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.splash {
  width: 100%;
}

.section_header {
    font-size: 500%;
    margin-top, margin-bottom: 0;
    height: 184 px;
    vertical-align: middle;
    text-align: right;
}

.banner {
  width: 100%;
  margin-right: 10%;
  height: 200px;
  line-height: 200px;
}

.circle_crop {
  height: 250px;
  width: 250px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.circle_image {
  margin: 0 auto;
  height: 100%;
  min-width: 100%;
}

.content_box {
  color: #fff;
  background-color: #000;
}

.shadow {
  box-shadow: 10px 10px 8px #adadad;
}

.inlined {
  display: inline-block;
}

#rightMovingSlide {
  transition: left 1s;
  left: 0;
}

.bannerParagraphLeft p {
  margin-left: 10%;
  width: 60%;
  display: inline-block;
}

.bannerParagraphLeft img {
  max-width: 20%;
  max-height: 20%;
  vertical-align: top;
  margin-left: 5%;
  margin-right: 5%;
}

.bannerParagraphRight p {
  margin-right: 10%;
  width: 60%;
  display: inline-block;
}

.bannerParagraphRight img {
  max-width: 20%;
  max-height: 20%;
  vertical-align: top;
  margin-left: 5%;
  margin-right: 5%;
}

.shadowedBoxContainer {
  padding: 16px;
  border: 2px solid #999;
  border-radius: 12px;
  box-shadow: 10px 10px 8px #999;
  width: 90%;
  margin: 32px auto;
  -webkit-transition: box-shadow .3s;
}

.shadowedBoxContainer:hover {
  box-shadow: 3px 3px 4px #999;
}
